{erl_opts, [debug_info]}.
{deps, [
  { cowboy, { git, "https://github.com/ninenines/cowboy.git", { tag, "2.4.0" } } },
  { jsone, "1.2.3" }
]}.
{plugins, [rebar3_run]}.
{relx, [{release, {rel, "0.0.1"},
         [pscowboytest]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
